*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@media screen  and (max-width: 1024px){

}
 @media screen  and (max-width: 600px){
     .header{background-color: pink;
    flex-direction: row;}

     .nav{display: none;}


#sidebar{

    background-color: lightpink;
    padding: 1rem;
    position: fixed;
    top: 0%;
    margin: 0%;
    height: 100vh;
    width: 85%;
    max-width: 350px;
    transform: translateX(-100%)


}

#sidebar .nav__lista{
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}
     #sidebar:target{
         transform: translateX(0);
     }

     .header__icono{
         display: block;
         font-size: 35px;
         color:#a832a2;
     }

     .header__open{
         text-decoration: none;
     }
 }

 .contacto{
   background-color: seashell;
 }

 