/*nombreColor-tipo*/
.nosotros1 {
  text-decoration: underline;
  color: indianred;
  font-weight: bold; }

/**
.nosotros1{ color:indianred;
    text-decoration: underline;
    font-weight: bold;

}

/
 */
